<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/community.css">
<link rel="stylesheet" type="text/css" href="login.css"/>
<script src="js/bootstrap.min.js" type="application/javascript"></script>
<head>
    <meta charset="UTF-8">
    <title>错误页面</title>
</head>
<body>
<!--注册错误，注册的用户名 或 密码不能为空-->
<div th:if="${btn_regiest != null && error_btn_login == null }">
    <p>注册的用户名 或 密码不能为空！</p>

</div>
<!--登录错误-->
<div th:if="${error_btn_login != null}">
    <p>账号和密码错了</p>

</div>
<!--注册错误，已经被注册过了-->
<div th:if="${CunZai == 1}">
    <p>你注册的ID：<span th:text="${regiest_username}"></span>已经被注册过了，请重新注册</p>

</div>
</body>
</html>


<tr th:each="lists:${list}">
    <td  align="center" th:text="${lists.studentId}"></td>
    <td  align="center" th:text="${lists.studentname}"></td>


</tr>
