<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>

    <link rel="stylesheet" type="text/css" href="login.css"/>
    <script type="text/javascript"></script>
</head>

<body>
<h1 align="center">学生作业管理系统</h1>
<div id="login_frame">
    <form method="post" >
        <a id="forget_pwd" font-size="50px">登录选择：</a><br><br>
        <div id="login_control" align="center">
            <a id="forget_pwd"href="/login.html" >教师登录</a><br><br>

            <a id="forget_pwd"href="/login1.html" >学生登录</a><br><br>

            <a id="forget_pwd"href="regiest.html" >注册</a></li><br><br>
        </div>
    </form>
</div>
</body>
</html>
