<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生登录</title>

    <link rel="stylesheet" type="text/css" href="login.css"/>
    <script type="text/javascript"></script>
</head>
<body>
<div id="login_frame">
    <form method="post" action="/login1">

        <p><label class="label_input">用户名</label><input type="text"  name="username" id="username" class="text_field"/></p>
        <p><label class="label_input">密码</label><input type="password" id="password" name="password" class="text_field"/></p>

        <div id="login_control">
            <input type="submit" id="btn_login" value="学生登录" name="btn_login">
        </div>
    </form>
</div>

</body>
