<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <link rel="stylesheet" type="text/css" href="login.css"/>
    <script type="text/javascript"></script>
</head>

<body>
<div id="login_frame">
    <form method="post" action="/regiest">

        <p><label class="label_input">用户名</label><input placeholder="姓名或学号" type="text"  name="username" id="username" class="text_field"/></p>
        <p><label class="label_input">密码</label><input type="password" id="password" name="password" class="text_field"/></p>
        <div id="login_control">
            <input type="submit" value="注册" name="btn_regiest" id="btn_regiest">
        </div>
    </form>
</div>

</body>


